body{
    background-color: rgba(230, 220, 220, 0.37);
    height: 100vh;
    width: 100vw;
}
header{
    background-color: white;
    width: 100%;
}

 main{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

#search-bar{
    border: 0;
    outline: 0 none;
    font-size: 17px;
    height: 40px;
    width: 100%;
    background-color: rgba(117, 117, 131, 0.13);
    border-radius: 0 10px 10px 0;
    text-overflow: ellipsis;
}
.search-container{
    display: flex;
    align-items: center;
    width: 100%;
}
.search-icon{
    border: 0;
    height: 40px;
    border-radius: 10px 0 0 10px;
}
.logo{
    margin: 0 20px 20px 0;
}
.logo-search{
    width: 70%;
    display: flex;
    justify-content: start;
    margin-left:10rem ;
   
}
.login-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.person-logo{
    margin-right: 10px;
}
.login-cart{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 5rem;

}
.login-btn:hover{
    background-color: blue;
    color: white;
}
.dropdown:hover>.dropdown-menu{
    display: block;
}

.dropdown>.dropdown-toggle:active{
    pointer-events: none;
}
.login-drop{
    width: 250px;
}
.login-header{
    display: flex;
    font-size: 17px;
    justify-content: space-evenly;
    width: 100%;
    padding: 5px;
}
.sign-up{
    font-size: 17px;
    text-decoration: none;
}

.cart-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.cart-logo{
    margin-right: 10px;
}
.seller-logo{
    margin-right: 10px;
}

.category-container{
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 0.6rem 12rem;
    width: 85vw;
    justify-content: center;
}
.card{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    border: 0;
}
.cat-img{
    width: 4rem;
    height: 5rem;
}
.carousel-container{
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 85vw;
   
}
.advertisement{
    width: 100vw;
}

.initial-items-list{
    width: 85vw;
    /* width: 100%; */
    /* display: grid;
    grid-template-columns: 83% 17%; */
    gap: 10px;
}

.card-text{
    text-align:center
}
.cards-wrapper{
    display: flex;
}
 
.cards{
    border: 1px solid rgba(109, 106, 106, 0.116);
    margin: 0.5rem;
}
.boe{
    /* background-color: white; */
    /* display: flex;
    flex-direction: row; */
    width: 85vw;
}
.boe-heading{
    width: 85vw;
    display: flex;
    justify-content: start;
    text-align: center;
}
